name: Publish Package

on:
  release:
    types:
      - released
  workflow_dispatch:
    inputs:
      npm:
        default: "yes"
        description: Publish to NPM?
        required: true

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare the source code
    runs-on: ubuntu-latest
    if: github.event_name == 'release' || github.event.inputs.npm == 'yes'
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set up Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Create tarball
        run: npm pack

      - name: Save tarball
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: package
          path: "*.tgz"
          retention-days: 1

  publish:
    name: Publish package
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix:
        registry:
          - npm
        include:
          - registry: npm
            secret: NPM_TOKEN
            registry_url: https://registry.npmjs.org/
    permissions:
      contents: read
      packages: write
      statuses: write
      id-token: write
    environment: ${{ matrix.registry }}
    steps:
      - name: Set commit status to PENDING
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: pending
          context: Publish to ${{ matrix.registry }}
          sha: ${{ github.sha }}
        if: github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release'

      - name: Set up Node.js environment
        if: github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release'
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          registry-url: ${{ matrix.registry_url }}

      - name: Download tarball
        if: github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release'
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: package

      - name: Publish package
        if: github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release'
        run: npm publish *.tgz
        env:
          NODE_AUTH_TOKEN: ${{ secrets[matrix.secret] }}

      - name: Set final commit status
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          context: Publish to ${{ matrix.registry }}
          sha: ${{ github.sha }}
        if: always() && (github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release')
